.btnSpace {
    margin-right: 5px;
}
.btn-group > .btn.positiveNegative {
    font-size: 1em;
}
.card-body {
    background-color: $colorVeryDark;
}
.prevValueLabel {
    color: $colorWhite;
}
.calcCard.card {
    min-width: 425px;
}
.btn-secondary {
    background-color: $colorMidLight !important;
}
.btn-secondary:not(.bg-danger):hover {
    background-color: $colorMidLight75 !important;
}
.btn-secondary.bg-danger:hover {
    background-color: $colorRed75 !important;
}